name: Deploy RunPT-AI to EC2


on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure SSH
        run: |
          echo "$EC2_KEY" > key.pem
          chmod 600 key.pem

      - name: Copy Project to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem $EC2_USER@$EC2_HOST "mkdir -p ~/RunPT-AI"
          scp -o StrictHostKeyChecking=no -i key.pem -r ./* $EC2_USER@$EC2_HOST:~/RunPT-AI/

      - name: Restart service on EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem $EC2_USER@$EC2_HOST "
            sudo systemctl restart runpt || true
          "
